@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Desafio</h1>
    <p class="lead">A empresa fictícia chamada Big Data Smart Solutions possui em seu sistema uma rotina que importa arquivos em formato CSV, porém devido a várias solicitações será necessário realizar a importação de planilhas Excel. Você foi selecionado para criar uma aplicação Web que deverá receber a planilha Excel, converter os dados dessa planilha para um arquivo csv e então retornar esse arquivo.</p>
    <p><a href="@Url.Action("UploadFile", "Upload")" class="btn btn-primary btn-lg">Ir para Conversão &raquo;</a></p>
</div>

